    define(['jquery', 'lodash', 'backbone'], function () {
        var V;
        requirejs(['joint'], function (joint) {
            V = joint.V;
            var graph = new joint.dia.Graph;
            /* 画板 */
            var paper = new joint.dia.Paper({
                el: $('#paper'),
                width: '100%',
                height: <{:count($tables)*200}>,
                gridSize: 20,
                model: graph,
                linkConnectionPoint: joint.util.shapePerimeterConnectionPoint
            });

            /* 数据库开始 */

    joint.shapes.basic.Cylinder = joint.shapes.basic.Generic.extend({

    markup: '&lt;g class="rotatable">&lt;g class="scalable">&lt;path/>&lt;/g>&lt;text/>&lt;/g>',

    defaults: joint.util.deepSupplement({

    type: 'basic.Cylinder',
    size: { width: 40, height: 40 },
    attrs: {
    'path': {
    fill: '#FFFFFF', stroke: '#cbd2d7', 'stroke-width': 3,
    d: [
    'M 0 10 C 10 5, 30 5, 40 10 C 30 15, 10 15, 0 10',
    'L 0 20',
    'C 10 25, 30 25, 40 20',
    'L 40 10'
    ].join(' ')
    },
    'text': { fill: '#435460', 'font-size': 14, text: '', 'ref-x': .5, 'ref-y': .7, ref: 'path', 'y-alignment': 'middle', 'text-anchor': 'middle', fill: 'black', 'font-family': 'Arial, helvetica, sans-serif' }
    }

    }, joint.shapes.basic.Generic.prototype.defaults)
    });


            var cylinder = new joint.shapes.basic.Cylinder({
                position: { x: 2, y: 75 },
                size: { width: 180, height: 150 },
                attrs: {
                    text: { text: '<{:C('DB_NAME')}>数据库' }
                }
            });

            graph.addCell(cylinder);
            /* 数据库结束 */
        <volist name="tables" id="row">
            <if condition="!$row['is_relation']">
            var <{:C('DB_PREFIX')}><{$row.table}> = new joint.shapes.basic.Rect({
                position: { x: 200, y: <{++$ii*200+2}> },
                size: { width: 140, height: 90 },
                attrs: { text: { text: '<{:C('DB_PREFIX')}><{$row.table}>表' } }
            });
            graph.addCell(<{:C('DB_PREFIX')}><{$row.table}>);
            <else />
                var <{:C('DB_PREFIX')}><{$row.table}> = new joint.shapes.basic.Rhombus({
                position: { x: 450, y: <{++$ii*200+2}> },
                size: { width: 160, height: 90 },
                attrs: { text: { text: '<{:C('DB_PREFIX')}><{$row.table}>表', 'font-size': 14 } }
                });
                graph.addCell(<{:C('DB_PREFIX')}><{$row.table}>);
            </if>
        </volist>
        <volist name="links" id="row">
            <if condition="$row['type']==4">
                var l<{$row['id']}>_1 = new joint.dia.Link({
                source: { id: <{:C('DB_PREFIX')}><{$tables[$row['indirect_table']]['table']}>.id }, target: { id: <{:C('DB_PREFIX')}><{$tables[$row['main_table']]['table']}>.id },
                attrs: {
                    '.marker-source': { d: 'M 10 0 L 0 5 L 10 10 z', transform: 'scale(0.001)' },
                    '.marker-target': { d: 'M 10 0 L 0 5 L 10 10 z' }
                }});
                var l<{$row['id']}>_2 = new joint.dia.Link({
                source: { id: <{:C('DB_PREFIX')}><{$tables[$row['indirect_table']]['table']}>.id }, target: { id: <{:C('DB_PREFIX')}><{$tables[$row['relation_table']]['table']}>.id },
                attrs: {
                    '.marker-source': { d: 'M 10 0 L 0 5 L 10 10 z', transform: 'scale(0.001)' },
                    '.marker-target': { d: 'M 10 0 L 0 5 L 10 10 z' }
                }});
                <else />
            var l<{$row['id']}> = new joint.dia.Link({
            source: { id: <{:C('DB_PREFIX')}><{$tables[$row['main_table']]['table']}>.id }, target: { id: <{:C('DB_PREFIX')}><{$tables[$row['relation_table']]['table']}>.id },
            attrs: {
                    '.marker-source': { d: 'M 10 0 L 0 5 L 10 10 z', transform: 'scale(0.001)' },
                    '.marker-target': { d: 'M 10 0 L 0 5 L 10 10 z' }
                }});
            </if>
        </volist>
            graph.addCells([
                <volist name="links" id="row" key="k">
                    <if condition="$row['type']==4">
                        l<{$row['id']}>_1,l<{$row['id']}>_2
                        <else />
                        l<{$row['id']}>
                    </if>
                    <if  condition="$k!=count($links)">,</if>
                </volist>]);

        });
        var bind = {};


        function init() {
            for (var i in bind) {
                bind[i]();
            }
        }

        return {
            init: init
        };
    });

