<extend name="Public:view" />
<block name="countent">
    <section class="content-header">
        <h1>
            <{$comment['table_comment']}>
            <small>列表</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{'U' | F:'Index/index'}}"><i class="fa fa-users"></i> <{$comment['table_comment']}>管理</a></li>
            <li><a href="#"><i class="fa fa-user"></i> <{$comment['table_comment']}>列表</a></li>
            <li class="active">Data tables</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <!-- /.box -->
                <div class="box">
                    <div class="box-header row">
                        <div class="col-sm-12">
                            <h3 class="box-title">筛选条件</h3>
                            <a class="btn btn-sm btn-default pull-right" href="{{'U' | F:'edit'}}">
                                <i class="glyphicon glyphicon-plus"></i>
                                添加<{$comment['table_comment']}>
                            </a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="example1_length" class="dataTables_length">
                                        <form action="" method="get">
                                            <select class="ts-search-field form-control input-sm">
                                                <volist name="comment['field'] " id="row">
                                                    <option value="<{$key}>"><{$row['comment']}></option>
                                                </volist>
                                            </select>
                                            <select class="ts-search-type  form-control input-sm" name="where[id][0]">
                                                <option value="eq">=</option>
                                                <option value="gt">&gt;</option>
                                                <option value="lt">&lt;</option>
                                                <option value="like">像</option>
                                            </select>
                                            <input name="where[id][1]" class="form-control input-sm ts-search-value" placeholder="请输入搜索关键字" value="" type="search">
                                            <button class="btn btn-sm btn-default ts-search-clear" type="button">
                                                <i class="glyphicon glyphicon-repeat" ></i>清空
                                            </button>
                                            <button class="btn btn-sm btn-primary ts-search" type="button">
                                                <i class="glyphicon glyphicon-search" ></i>搜索
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-12">
                                    <form action="" method="get" class="data-list">
                                        <table class="table table-hover table-bordered table-striped">
                                            <tr class="active">
                                                <th style="width: 30px;"><input class="select-all" type="checkbox" value=""></th>
                                                <volist name="comment['field'] " id="row">
                                                    <if condition="$row['type'] eq 'hide'"><?php continue; ?></if>
                                                    <th data-filed="<{$key}>" class="ts-order"
                                                        data-order="{{if order.<{$key}>!='desc'}}desc{{else}}asc{{/if}}">
                                                        <{$row['comment']}>
                                                        <if condition="$row['type'] eq 'time'">
                                                            <i class="glyphicon glyphicon-time"></i>
                                                            <elseif condition="$row['type'] eq 'email'" />
                                                            <i class="glyphicon glyphicon-envelope"></i>
                                                        </if>
                                                        <a>{{if order.<{$key}>=='desc'}}▼{{else}}▲{{/if}}</a>
                                                    </th>
                                                </volist>
                                                <th style="width: 90px">操作</th>
                                            </tr>
                                            {{each list as row i}}
                                            <tr>
                                                <td><input name="<{$comment['pk']}>[]" type="checkbox" value="{{row.<{$comment['pk']}>}}"></td>
                                                <volist name="comment['field'] " id="row">
                                                    <if condition="$row['type'] eq 'hide'"><?php continue; ?></if>
                                                    <td>
                                                        <if condition="$key eq 'status'">
                                                            {{if row.status<1}}
                                                            <span class="label label-default">已删除</span>
                                                            <volist name="row['value'] " id="r">
                                                            {{else if row.status==<{$r}>}}
                                                            <span class="label label-primary"><{$key}></span>
                                                            </volist>
                                                            {{else}}
                                                            <span class="label label-warning">其它</span>
                                                            {{/if}}
                                                            <?php continue; ?>
                                                        </if>
                                                        <if condition="$row['type']=='radio'">
                                                            <?php $key1 = $key;  ?>
                                                            {{if 0==1}}
                                                            <volist name="row['value'] " id="r">
                                                                {{else if row.<{$key1}>==<{$r}>}}
                                                                <{$key}>
                                                            </volist>
                                                            {{else}}
                                                                其它
                                                            {{/if}}
                                                            <?php continue; ?>
                                                        </if>
                                                        <if condition="$row['type']=='time'">
                                                            {{'dateFormat' | F:row.<{$key}>,'yyyy-MM-dd hh:mm:ss'}}
                                                            <elseif condition="$row['type'] eq 'img'"/>
                                                            <img src="{{if row.<{$key}>}}{{'_IMG_' | C}}{{row.<{$key}>}}{{/if}}"
                                                                 style="width: 120px">
                                                            <else/>
                                                            {{row.<{$key}>}}
                                                        </if>
                                                    </td>
                                                </volist>
                                                <td>
                                                    <a class="btn btn-xs btn-info" href="{{'U' | F:'edit'}}?id={{row.<{$comment['pk']}>}}" role="button">
                                                        <i class="glyphicon glyphicon-edit"></i>
                                                    </a>
                                                    &nbsp;&nbsp;
                                                    <button class="btn btn-xs btn-danger ts-remove" type="button" id="{{row.<{$comment['pk']}>}}">
                                                        <i class="glyphicon glyphicon-trash" ></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            {{/each}}
                                        </table>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button class="btn btn-danger btn-sm ts-remove-select" type="button">
                                        <i class="glyphicon glyphicon-trash"></i>
                                        删除选中
                                    </button>
                                    <button class="btn btn-sm btn-success ts-refresh" data-loading-text="Loading..." type="button">
                                        <i class="glyphicon glyphicon-refresh"></i>
                                        刷新
                                    </button>
                                    {{include './page'}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
</block>









